body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	height: calc(100vh - env(safe-area-inset-top));
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	min-height: 650px;
	align-items: center;
	padding: 50px 0;
}

section {
	max-width: 700px;
	padding: 15px;
}

#urls {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	.url-group {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
	}

	p {
		display: inline-block;
		width: 50%;
		padding: 10px;
		margin: 0;
		.b {
			margin-bottom: 30px;
		}
		a {
			color: #ff899e;
			text-decoration: none;
			border: 2px dashed;
			padding: 0 10px;
			text-align: left;
			line-height: 60px;
			display: flex;
			border-radius: 15px;
			transition: border-radius 0.3s;

			&:hover {
				border-radius: 0;
			}
		}
		span {
			font-size: 35px;
			margin-right: 5px;
		}
	}
}

.logo {
	text-align: center;
	font-size: 5vw;
	position: relative;

	&:before {
		content: "cnmb.me";
		position: absolute;
		top: -0.5vw;
		left: -4vw;
		font-size: 3vw;
		background-image: linear-gradient(117deg, red, blue);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	span {
		&:nth-child(1) {
			color: red;
		}
		&:nth-child(2) {
			color: #0048ff;
		}
		&:nth-child(3) {
			color: red;
			font-size: 1.5em;
		}
		&:nth-child(4) {
			color: #307fff;
		}
		&:nth-child(5) {
			color: red;
		}
		&:nth-child(6) {
			color: #ff26c7;
			font-size: 2em;
		}
	}
}

.pihua {
}

.github {
	text-align: center;
}

@media (max-width: 570px) {
	#urls p {
		width: 100%;
	}
}
